 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

// ========================= HEADER ==========================
.headerContainer{
  background: #F5F5F5;
  border-bottom: 1px solid #CDCDCD;
  width: 100%;
  height: 50px;
}
.search{
  @include span-columns(8);
  padding: 5px 0px 10px 200px;
    input{
      width: 300px;
      border-radius: 5px;
      margin-left: 5px;
      font-size: 12px;
      padding: 5px 0px 5px 2px;
    }
    a{
      font-weight: bold;
      text-decoration: none;
      padding: 0px 5px 0px 5px;
    }
    a:hover{
      color: aqua;
      cursor: pointer;
    }
}
.topRnav{
  @include span-columns(4);
  padding: 15px 0px 10px 0px;
  font-weight: bold;
}

// =================== FOOTER ==============================

.footContainer{
  width: 1000px;
  clear: both;
  border-top: 1px solid #CDCDCD;
  padding: 30px 10px 65px 10px;
  margin: 0 auto;
    .botLeft{
  @include span-columns(6);
      .octicon{
        margin-left: 50px;
        font-size: 25px;
        vertical-align: middle;
      }
  }
  .botLeft a{
        color: #4183C4;
        text-decoration: none;
  }

  .botRight{
  @include span-columns(6);
  }

}

// ========================== Main Body ===========================

.container{
  margin: 20px 0px 0px 15%;
  width: 1000px;
}

// ========================= Sidebar 
.sidebar{
@include span-columns(4);

}
.user{
  width: 230px;
}
.imgInfo{ 
  margin-bottom: 20px;
    img{
      width: 230px;
      border-radius: 8px;
    }
    h1{
      margin: 0px;
      font-size: 25px;
    }
    h2{
      margin: 0px;
      font-weight: normal;
      color: #666674;
      font-size: 20px;
    }
}
.userInfo{
  color: black;
  border-top: 1px solid lightgray;
    ul{
      list-style: none;
      padding: 0px 0px 0px 0px;
        span{
          color: lightgray;
          padding: 0px 5px 5px 0px;
        }
    }
}
.Follow{
  text-align: center;
  border-top: 1px solid lightgray;
  padding-top: 10px;
}
.followNum{
  font-size: 28px;
  color: #4183C4;
  font-weight: bold;
    span{
      padding-left: 50px;
    }
}
.followTxt{
  font-size: 11px;
    span{
      padding-left: 30px;
    }
}


// ========================= Repository Section 
.repos{
  @include span-columns(8);
    a{
      text-decoration: none;
      color: #4183C4;
      font-size: 20px;
    }
    a:hover{
      text-decoration: underline;
    }
    input{
      font-size: 12px;
      padding: 8px 0px 8px 5px;
      border-radius: 2px;
      border: 1px solid lightgray;
      width: 200px;
    }
    #search{
      background: #F8F8F8;
      font-weight: bold;
      padding: 8px 15px 8px 15px;
      border-radius: 2px;
      border: 1px solid lightgray;
    }
    .repositories{
      border-top: 1px solid lightgray;
      margin-top: 10px;
    }
}
.repos:last-child{
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.topRepo{
  margin: 5px 5px 20px 0px;
    span{
      font-size: 14px;
    }
}
#new{
  background: #67BA4A;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}
.repoNav a{
  padding: 5px 2px 5px 2px;
  font-size: 14px;
}