 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header{
  background: #F5F5F5;
}
.search{
  padding: 10px;
}
