<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Git Hub</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

  </head>
  <body>

  <!-- 
  ========================= HEADER ===================================
  -->

  <div class="headerContainer">
    <header>
      <div class="search">
        <span class="mega-octicon octicon-mark-github">
        </span>
        <input type="text" placeholder="Search Github">
        <a href="https://github.com/explore">
          <span>Explore</span>
        </a>
        <a href="https://gist.github.com/">
          <span>Gist</span>
        </a><a href="https://github.com/blog">
          <span>Blog</span>
        </a><a href="https://help.github.com/">
          <span>Help</span>
        </a>
      </div>    

      <div class="topRnav">
        <div class="userImgSm">
        </div>
        <span>ssettle3</span>
        <span class="octicon octicon-plus"></span>
        <span class="octicon octicon-triangle-down"></span>
        <span class="octicon octicon-inbox"></span>
        <span class="octicon octicon-gear"></span>
        <span class="octicon octicon-sign-out"></span>
      </div>
    </header>
  </div>

  <!--
  =========================== BODY ================================
  -->

  <div class="container">
    <div class="user">
       <div class="orgs">
      
        </div>
    </div>    
    <div class="repos">
      <div class="topRepo">
        <span class="octicon octicon-diff-added"> Contributions</span>
        <span class="octicon octicon-repo"> Repositories</span>
        <span class="octicon octicon-rss"> Public Activity</span>
        <button>
          <span class="octicon octicon-pencil"> Edit Profile</span>
        </button>
      </div>
      <div class="repoNav">
        <input type="text" placeholder="Find a repository...">
        <button id="search" type="submit">Search</button>
        <a href="">All</a>
        <a href="">Public</a>
        <a href="">Private</a>
        <a href="">Sources</a>
        <a href="">Forks</a>
        <a href="">Mirrors</a>
        <button id="new"type="submit">
          <span class="octicon octicon-repo">New</span>
        </button>
      </div>
    </div>
  </div>

  <!--
=========================== FOOTER ================================
  -->

  <footer>
    <div class="footContainer">
      <div class="botLeft">
        <span>© 2015 GitHub, Inc.</span>
        <a href="https://github.com/site/terms">
          <span>Terms</span>
        </a>
        <a href="https://help.github.com/articles/github-privacy-policy/">
          <span>Privacy</span>
        </a>
        <a href="https://help.github.com/articles/github-security/">
          <span>Security</span>
        </a>
        <a href="https://github.com/contact">
          <span>Contact</span>
        </a>
        <span class="octicon octicon-mark-github"></span>
      </div>

      <div class="botRight">
        <span>Status</span>
        <span>API</span>
        <span>Training</span>
        <span>Shop</span>
        <span>Blog</span>
        <span>About</span>
      
      </div>
    </div>
  </footer>

<!--
==================== Script Templates =============================
-->


<!--
===================== User Sidebar Script ========================
-->

<script type="text/template" id="userTemp">

  <div class="imgInfo">
    <img src=" <%= avatar_url %> ">
    <h1> <%= name %> </h1>
    <h2> <%= login %> </h2>
  </div>
  <div class="userInfo">
    <ul>
      <li>
        <span class="octicon octicon-location"></span> 
        <%= location %> 
      </li>
      <li> 
        <span class="octicon octicon-mail"></span>
        <%= email %> 
      </li>
      <li> 
        <span class="octicon octicon-clock"></span>
        <%= created_at %> 
      </li>      
    </ul>
  </div>
  <div class="Follow">
    <div class="followNum"
      <span><%= followers %></span>
      <span><%= public_gists %></span>
      <span><%= following %></span>
    </div>
    <div class="followTxt"
      <span> Follower </span>
      <span> Starred </span>
      <span> Following </span>
    </div>
  </div>

</script>

<!--
==================== Main Repository Script =========================
-->
<script type="text/template" id="repoTemp">

  <div class="repositories">
    <h1><a href=" <%= html_url %>  "> <%= name %> </a></h1>
    <h4> <%= description %> </h4>
    <span> <%= watchers %> </span>
    <span> <%= forks %> </span>
  </div>

</script>

    <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
